.background-gradient {
  background: linear-gradient(120deg, #1c192f, #19272f, #2f192f);
  background-size: 300% 300%;
  animation: gradient-anim 15s linear infinite;
}

@keyframes gradient-anim {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
