body {
  font-family: 'Onest', sans-serif;
}
.caiTitle {
  list-style: none;
  line-height: 1;
}

.caiTitle li {
  display: inline-block;
  font-weight: 700;
  font-size: 2em;
  color: #fff;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  max-width: 2em;
}
.caiTitle.toggled li.spaced {
  padding-left: 0;
}
.caiTitle li.spaced {
  padding-left: 0.5em;
}

.caiTitle.toggled li.ghost {
  opacity: 0;
  max-width: 0;
}

.taglines b {
  overflow: hidden;
  position: relative;
  height: 1.2em;
  padding: 0;
  margin: 0;
}

.taglines .innerTaglines {
  display: inline-block;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;
  line-height: 2em;

  /*animation*/
  animation: move 15s;
  /*animation-iteration-count*/
  animation-iteration-count: infinite;
  /*animation-delay*/
  animation-delay: 1.5s;
}

@keyframes move {
  0% {
    top: -0.5em;
  }
  10% {
    top: -0.5em;
  }
  20% {
    top: -2.5em;
  }
  30% {
    top: -4.5em;
  }
  40% {
    top: -6.5em;
  }
  50% {
    top: -8.5em;
  }
  60% {
    top: -10.5em;
  }
  70% {
    top: -12.5em;
  }
  80% {
    top: -14.5em;
  }
  90% {
    top: -16.5em;
  }
  100% {
    top: -0.5em;
  }
}
